.analytics-bg {
    background: #E4D9CB;
    color: #201E1C;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: max(12px, min(2vw, 18px));
    /*calc(1vw + 1vmin);*/
    margin: 135px 1em 1em 280px;
    padding: 1rem;
    position: relative;
    height: 100vh;
    border-radius: 0.5rem;
}

.kpi-container{
    list-style: none;
    display: flex;
}

.kpi{
    display: block;
    justify-content: center;
    background-color: #FFC353;
    padding: 2rem;
    margin: 0.5rem;
    border-radius: 0.5rem;
}

.kpi:hover{
    background-color: #F07431;
}

.graph{
    height:50vh;
    width: 70vh;
    margin: 5vh;
    border-radius: 0.4rem;
}

.p{
    display: flex;
    align-items: center;
    justify-content: center;
}