.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 14rem;
  height: 56.4rem;
  background-color: #e4d9cb;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.side-container {
  list-style: none;
  padding: 0;
  margin-top: 120px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  color: #201e1c;
}

.linkStyle {
  color: #201e1c;
  text-decoration: none;
}

.linkStyle:hover{
  background-color: #c5b39c;
}

/* NEXT VER 
.sidebar {
  position: absolute;
  background-color: #e4d9cb;
  top: 121px;
  left: 0;
  transition: all 0.3s ease;
}

.sidebar-nav-link {
  position: absolute;
  display: flex;
  flex-direction: column;
  font-family: 'Open_Sans:Regular', sans-serif;
  font-weight: normal;
  height: 40px;
  justify-content: center;
  line-height: 0;
  left: 50%;
  transform: translateX(-50%);
  font-size: 20px;
  text-align: center;
  width: 224px;
  text-decoration: none;
  font-variation-settings: 'wdth' 100;
  color: black;
}

.sidebar-nav-link.active {
  color: #3479c7;
}

.sidebar-nav-link p {
  line-height: 1.4;
}

.sidebar-star-button {
  position: absolute;
  left: 31px;
  width: 90px;
  height: 90px;
}

.sidebar-collapse-button {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  top: 24px;
  transition: all 0.3s ease;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

.collapse-button-inner {
  background-color: #c5b39c;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
  min-width: 0;
  overflow: clip;
  position: relative;
  border-radius: 100px;
}

.collapse-icon-wrapper {
  display: flex;
  height: 40px;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
}

.collapse-icon {
  overflow: clip;
  position: relative;
  width: 24px;
  height: 24px;
}

.collapse-icon svg {
  transition: transform 0.3s ease;
}

.collapse-icon.collapsed svg {
  transform: rotate(180deg);
}

*/
