.analytics-bg {
  background: #e4d9cb;
  color: #201e1c;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: max(12px, min(2vw, 18px));
  /*calc(1vw + 1vmin);*/
  margin: 135px 1em 1em 280px;
  padding: 1rem;
  position: relative;
  height: 100vh;
  border-radius: 0.5rem;
}

.kpi-container {
  list-style: none;
  display: flex;
}

.kpi {
  display: block;
  justify-content: center;
  background-color: #ffc353;
  padding: 2rem;
  margin: 0.5rem;
  border-radius: 0.5rem;
}

.kpi:hover {
  background-color: #f07431;
}

.graph {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40vh;
  width: 60vh;
  margin: 5vh;
  border-radius: 0.4rem;
}

.p {
  display: flex;
  align-items: center;
  justify-content: center;
}
