.formContainer{
    width:40rem;
    height: 100%;
}

form{
    margin-top: 1rem;
    border-radius: 5px;
    background-color: #c5b39c;
    padding: 20px;
}

.labelP{
    font-size: max(16px, min(2vw, 18px));
    margin-bottom: 0.5rem;
}

input{
    width: 100%;
    margin-bottom: 0.2rem;
    border-radius: 4px;
    padding: 10px;
    background-color: #fff6e6;
    border: 2px solid #a39480;
}

.optStyle{
    border: 2px solid #a39480;
    background-color: #fff6e6;
    text-decoration: none;
    padding: 6px;
    border-radius: 5px;
    width: 100%;
    margin-bottom: 0.2rem;
}

.buttonContainer{
    display: flex;
}

.taskBtn{
    background-color: #3479c7;
    color: #fef9f2;
    text-decoration: none;
    font-size: max(16px, min(2vw, 8px));
    padding: 14px;
    border-radius: 5px;
    transition: 0.3s ease-in-out;
    border: 2px solid #0c407c;
    width: 100%;
    margin: 8px 5px;
    cursor: pointer;
}

.RtaskBtn{
    background-color: #ffbd44;
    color: #201e1c;
    text-decoration: none;
    font-size: max(16px, min(2vw, 8px));
    padding: 14px;
    border-radius: 5px;
    transition: 0.3s ease-in-out;
    border: 2px solid #e98400;
    width: 100%;
    margin: 8px 5px;
    cursor: pointer;
}

.errorMsg {
  color: red;
  margin-bottom: 1rem;
}